extends layout

block content
  p User Name: #{User.userName}
  p Password: #{User.password}
  p User Level: #{User.userLevel}
  p Email: #{User.email}
  P Age: #{User.age}
  P Answer 1: #{User.answer1}
  p Answer 2: #{User.answer2}
  p Answer 3: #{User.answer3}
  br
  a(href='/') Back
