extends layout

block content
  form(id='form', method='post', action='/edit/' + user.id)
  label(for='email') Email: 
  input(type='text', name='email' value=user.email)
  br
  label(for='age') Age: 
  input(type='text', name='age' value=user.age)
  br     
  label(for='answer1') Answer One:
  select(name='answer1')
    option(selected = user.answer1) #{user.answer1}
    option(value="Zombie") Zombie
    option(value="Vampire") Vampire
    option(value="Werewolf") Werewolf      
  br
  label(for='answer2') Answer Two:
  select(name='answer2')
    option(selected = user.answer2) #{user.answer2}
    option(value="Zombie") Zombie
    option(value="Vampire") Vampire
    option(value="Werewolf") Werewolf      
  br
  label(for='answer3') Answer Three:
  select(name='answer3')
    option(selected = user.answer3) #{user.answer3}
    option(value="Zombie") Zombie
    option(value="Vampire") Vampire
    option(value="Werewolf") Werewolf      
  br
  input(type='submit', value='Update User')